<div class="text-center">
    <figure class="m-3 p-3"><img width="100%" src="images/KF6/VolkerKrause_laptop.jpg" /><br /><figcaption>Kevin Ottens (left), Volker Krause (right) and David Faure (laptop) discuss frameworks during the sprint.</figcaption></figure>
</div>

From the 21st to the 24th of November, a dedicated sprint for <a href="https://kde.org/products/frameworks/">KDE Frameworks</a> 6 (KF6) was hosted by MBition GmbH in Berlin. A group of KDE developers gathered to discuss the next steps for the KDE Frameworks. In general, the aim was to discuss major design principles, strategies for a Qt6 transition and past and future goals of KF6 including:

+ iterate on the previous split and have a second, smaller, round of cleaning up the dependencies between Frameworks;
+ better separation between logic and GUI on Frameworks where it is applicable;
+ better separation between APIs and platform implementations.

We discussed how Qt6 will be an improved version of Qt5, as it will be a big refactor that makes the API quite better and solve some architectural problems in Qt5 areas including QGuiAction. To have that, it needs to be binary incompatible with Qt5.

After determining overall goals, we discussed a couple of big Frameworks and scrutinized many Frameworks like KTextEditor, KMediaPlayer, KXmlRpcClient, KConfigWidgets, KCMUtils, KConfigWidgets, KColorScheme, etc.. To better cover all aspects, we split up into subgroups and a Kanban board was used to drive the work. The idea was to go through each Framework and decide whether its dependencies could be slimmed down. We also tried to determine which APIs needed an overhaul, and where a sensible split between libraries, runtime services, plug-ins, and so on should be implemented.

We started with the Tier 3 Frameworks which have the most complicated dependencies (Tier 1 Frameworks only depend on Qt). Followed by Tier 2 and Tier 1. We decided that Tier 1 Frameworks have no dependencies on other Frameworks, Tier 2 can depend on Tier 1 and Tier 3 can depend on Tier 1, 2 and 3. Tier 3 Frameworks will be much more orderly with clearer dependencies and will be much easier to reuse in non-desktop or non-widgets contexts if applicable.

We also had few other exciting discussions on the major plans like KIO, KPARTS and XMLGUI. This sprint was very helpful for the progress of Qt6 and KF6 branching with approximately 200 tasks on the KF6 work board. We expect that KF6 sprint's major discussions will make KF6's journey exciting for developers.
