<blockquote class="py-3">
  <span class="fa fa-3x fa-quote-right"></span>
  <p class="block-text">
    Here at Slimbook, we always thought that the GNU/Linux community is what makes it great. It's always the community what shares the knowledge, improves a program or contributes with their ideas. KDE is to us the main definition of GNU/Linux, because of their members, their values and their amazing work.
  </p>
  <hr>
  <div>
    <p class="float-xs-left">
      <i>Alejandro López, CEO at Slimbook</i>
    </p>
  </div>
</blockquote>

<blockquote class="py-3">
  <span class="fa fa-3x fa-quote-right"></span>
  <p class="block-text">
    enioka Haute Couture is a company driven by its values and its manifesto, in the same vein as KDE, which we have been supporting for one year. We are grateful for the existence of all the communities creating Free Software. They are a real enabler in our mission to give back control of their development to our customers. We are really happy to express our gratitude by supporting a community like KDE"
  </p>
  <hr>
  <div>
    <p class="float-xs-left">
      <i>Marc-Antoine Gouillart, CTO at enioka Haute Couture</i>
    </p>
  </div>
</blockquote>
    
